*{
  margin: 0px;
}
#canvas, #container{
  position: absolute;
  overflow: none;
}

div{
  color: white;
}

#text-container{
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}

#yearText, #monthText, #dayText, #hourText, #minuteText, #secondText{
  text-align: center;
}